<mat-drawer-container class="example-container nav" autosize>
    <mat-drawer #drawer class="example-sidenav sidenavbar" mode="side">
        <figure class="logo">
            <img src="https://www.autointelli.com/image/auto-intelli-logo.png" alt="logo">
        </figure>

        <ul>
            <li><button mat-menu-item>
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button></li>
            <li><button mat-menu-item>
                    <mat-icon>shopping_cart</mat-icon>
                    <span>New Order</span>
                </button></li>
            <li> <button mat-menu-item [matMenuTriggerFor]="menu">
                    <mat-icon>settings</mat-icon>
                    <span>API <span class="material-icons" style="    position: absolute;
            right: 0;
            top: 11px;">
                            arrow_drop_down
                        </span></span>

                    <mat-menu #menu="matMenu" class="apilist">
                        <button routerLink="/table" mat-menu-item style="color:#1a262be0;">GET API</button>
                        <button routerLink="/form" mat-menu-item style="color:#1a262be0;">POST API</button>
                    </mat-menu>
                </button></li>

            <li>
                <button mat-menu-item>
                    <mat-icon>date_range</mat-icon>
                    <span>Calendar</span>
                </button>
            </li>
            <li> <button mat-menu-item>
                    <mat-icon>receipt</mat-icon>
                    <span>Invoice Summary</span>
                </button></li>
            <li>
                <button mat-menu-item>
                    <mat-icon>mail</mat-icon>
                    <span>Mailbox</span>
                </button>
            </li>
            <li>
                <button mat-menu-item>
                    <mat-icon>support_agent</mat-icon>
                    <span>Customer 360</span>
                </button>
            </li>
            <li>
                <button mat-menu-item>
                    <mat-icon>login</mat-icon>
                    <span>Logout</span>
                </button>
            </li>

        </ul>






    </mat-drawer>





    <div class="container-fluid">
        <div class="row header m-b-40">
            <div class="navicon">
                <div class="col-xs-12 col-sm-1">
                    <button type="button" mat-button (click)="drawer.toggle()">
                        <span class="material-icons"> menu </span>
                    </button>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <form class="example-form headersearch">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <input type="text" matInput placeholder="Enter Keywords">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-8 headerright ">
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                        <mat-icon>mail</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                        <mat-icon matBadge="15" matBadgeColor="primary">notification_important</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                        <mat-icon>flag</mat-icon>
                    </button>


                    <button mat-mini-fab aria-label="Example icon button with a menu icon" style="background: #e6dddd;">
                        <!-- <mat-icon>face</mat-icon> -->
                        <img src="https://www.shareicon.net/data/512x512/2016/07/26/802031_user_512x512.png"
                            style="max-width: 25px;">
                    </button>
                </div>
            </div>
        </div>
        <div class="row cardlist m-25">
            <div class="col-xs-12 col-sm-3">
                <mat-card class="example-card "
                    style="background-image: linear-gradient(90deg, rgb(30 222 218) 0%, rgb(60 173 225) 50%, rgb(89 129 232) 100%);">
                    <mat-card-header>
                        <mat-card-title>2050</mat-card-title>
                        <mat-card-subtitle>Outstanding Invoice</mat-card-subtitle>
                        <mat-icon>shopping_cart</mat-icon>
                    </mat-card-header>

                </mat-card>
            </div>
            <div class="col-xs-12 col-sm-3">
                <mat-card class="example-card "
                    style="background-image: linear-gradient(90deg, rgb(246 85 154) 0%, rgb(250 99 138) 50%, rgb(254 112 122) 100%);">
                    <mat-card-header>
                        <mat-card-title>3250</mat-card-title>
                        <mat-card-subtitle>Active Credits</mat-card-subtitle>
                        <mat-icon>shopping_cart</mat-icon>
                    </mat-card-header>

                </mat-card>
            </div>
            <div class="col-xs-12 col-sm-3">
                <mat-card class="example-card"
                    style="background-image: linear-gradient(90deg, rgb(64 221 154) 0%, rgb(62 201 167) 50%, rgb(59 183 179) 100%);">
                    <mat-card-header>
                        <mat-card-title>87.5%</mat-card-title>
                        <mat-card-subtitle>Subcription Orders</mat-card-subtitle>
                        <mat-icon>shopping_cart</mat-icon>
                    </mat-card-header>

                </mat-card>
            </div>
            <div class="col-xs-12 col-sm-3">
                <mat-card class="example-card"
                    style="background-image: linear-gradient(90deg, rgb(255 205 68) 0%, rgb(255 174 77) 50%, rgb(255 141 85) 100%);">
                    <mat-card-header>
                        <mat-card-title>2550</mat-card-title>
                        <mat-card-subtitle>Total Cleared Orders</mat-card-subtitle>
                        <mat-icon>shopping_cart</mat-icon>
                    </mat-card-header>

                </mat-card>
            </div>
        </div>
        <div class="row chart m-t-40">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="col-12">
                    <mat-card class="example-card leftchart1">
                        <h3>product sales <mat-icon style="position: absolute;right: 15px;">more_horiz</mat-icon>
                        </h3>

                        <div style="display: block;padding: 16px;">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                                [chartType]="barChartType">
                            </canvas>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="col-12">
                    <mat-card class="example-card rightchart1">
                        <h3>Top Selling Categories sales <mat-icon style="position: absolute;right: 15px;">more_horiz
                            </mat-icon>
                        </h3>

                        <div style="display: block;padding: 16px;">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                                [chartType]="barChartType">
                            </canvas>
                        </div>


                    </mat-card>
                </div>
            </div>
        </div>
    </div>


    <div class="header" style="display: none;">
        <mat-grid-list cols="4" class="navicon">

            <mat-grid-tile>
                <button type="button" mat-button (click)="drawer.toggle()">
                    <span class="material-icons"> menu </span>
                </button>
                <form class="example-form headersearch">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input type="text" matInput placeholder="Enter Keywords">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </form>
            </mat-grid-tile>
            <mat-grid-tile> <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon>mail</mat-icon>
                </button>
                <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon matBadge="15" matBadgeColor="warn">notification_important</mat-icon>
                </button>
                <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon>flag</mat-icon>
                </button>


                <button mat-mini-fab aria-label="Example icon button with a menu icon" style="background: #e6dddd;">
                    <!-- <mat-icon>face</mat-icon> -->
                    <img src="https://www.shareicon.net/data/512x512/2016/07/26/802031_user_512x512.png"
                        style="max-width: 25px;">
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="cardlist" style="display: none;">
        <mat-grid-list cols="4" class="">
            <mat-grid-tile>
                <mat-card class="example-card "
                    style="background-image: linear-gradient(90deg, rgb(30 222 218) 0%, rgb(60 173 225) 50%, rgb(89 129 232) 100%);">
                    <mat-card-header>
                        <mat-card-title>2050</mat-card-title>
                        <mat-card-subtitle>Total Orders</mat-card-subtitle>
                        <mat-icon>shopping_cart</mat-icon>
                    </mat-card-header>

                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card "
                    style="background-image: linear-gradient(90deg, rgb(246 85 154) 0%, rgb(250 99 138) 50%, rgb(254 112 122) 100%);">
                    <mat-card-header>
                        <mat-card-title>3250</mat-card-title>
                        <mat-card-subtitle>Total Expenses</mat-card-subtitle>
                        <mat-icon>shopping_cart</mat-icon>
                    </mat-card-header>

                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card"
                    style="background-image: linear-gradient(90deg, rgb(64 221 154) 0%, rgb(62 201 167) 50%, rgb(59 183 179) 100%);">
                    <mat-card-header>
                        <mat-card-title>87.5%</mat-card-title>
                        <mat-card-subtitle>Total Revenue</mat-card-subtitle>
                        <mat-icon>shopping_cart</mat-icon>
                    </mat-card-header>

                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card"
                    style="background-image: linear-gradient(90deg, rgb(255 205 68) 0%, rgb(255 174 77) 50%, rgb(255 141 85) 100%);">
                    <mat-card-header>
                        <mat-card-title>2550</mat-card-title>
                        <mat-card-subtitle>New Users</mat-card-subtitle>
                        <mat-icon>shopping_cart</mat-icon>
                    </mat-card-header>

                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <!-- <mat-icon matLine>home</mat-icon> -->
    <mat-grid-list cols="4" rowHeight="2:1" gutterSize="1px" style="display: none;">
        <!-- rowwidth 200px
    colwidth 100px -->

        <mat-grid-tile rowspan="3">rowspan 3</mat-grid-tile>
        <mat-grid-tile colspan="2">colspan 2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>5</mat-grid-tile>
        <mat-grid-tile>6</mat-grid-tile>
        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>8</mat-grid-tile>
    </mat-grid-list>
    <div class="chart" style="display: none;">
        <mat-grid-list cols="2" class="">
            <mat-grid-tile>

                <mat-card class="example-card leftchart">
                    <mat-card-header>
                        <mat-card-title>Product Sales</mat-card-title>
                    </mat-card-header>
                    <div style="display: block;">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>


                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>

                <mat-card class="example-card rightchart">
                    <mat-card-header>
                        <mat-card-title>Top Selling Categories</mat-card-title>
                    </mat-card-header>
                    <div style="display: block;">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>


                </mat-card>
            </mat-grid-tile>





        </mat-grid-list>
    </div>

</mat-drawer-container>







<mat-drawer-container class="example-container nav" autosize style="display: none;">
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <figure class="logo">
            <img src="https://www.autointelli.com/image/auto-intelli-logo.png" alt="logo">
        </figure>
        <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>HOME</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
            <span>API</span>

            <mat-menu #menu="matMenu">
                <button mat-menu-item>GET API</button>
                <button mat-menu-item>POST API</button>
            </mat-menu>
        </button>
    </mat-drawer>






    <div>
        <mat-grid-list cols="4" class="navicon">

            <mat-grid-tile>
                <button type="button" mat-button (click)="drawer.toggle()">
                    <span class="material-icons"> menu </span>
                </button>
                <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input type="text" matInput placeholder="Enter Keywords">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </form>
            </mat-grid-tile>
            <mat-grid-tile> <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon>mail</mat-icon>
                </button>
                <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon matBadge="15" matBadgeColor="warn">notification_important</mat-icon>
                </button>
                <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon>flag</mat-icon>
                </button>
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                    <mat-icon>face</mat-icon>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div>
        <mat-grid-list cols="4" class="navicon">
            <mat-grid-tile>
                <mat-card class="example-card"
                    style="background-image: linear-gradient(90deg, rgb(30 222 218) 0%, rgb(60 173 225) 50%, rgb(89 129 232) 100%);">
                    <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>2050</mat-card-title>
                        <mat-card-subtitle>Total Orders</mat-card-subtitle>
                        <mat-icon>shopping_cart</mat-icon>

                    </mat-card-header>

                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card"
                    style="background-image: linear-gradient(90deg, rgb(246 85 154) 0%, rgb(250 99 138) 50%, rgb(254 112 122) 100%);">
                    <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        <mat-icon>shopping_cart</mat-icon>
                    </mat-card-header>

                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card"
                    style="background-image: linear-gradient(90deg, rgb(64 221 154) 0%, rgb(62 201 167) 50%, rgb(59 183 179) 100%);">
                    <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        <mat-icon>shopping_cart</mat-icon>
                    </mat-card-header>

                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card"
                    style="background-image: linear-gradient(90deg, rgb(255 205 68) 0%, rgb(255 174 77) 50%, rgb(255 141 85) 100%);">
                    <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        <mat-icon>shopping_cart</mat-icon>
                    </mat-card-header>

                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>




</mat-drawer-container>
